h1 {
    text-align: center;
  }
  td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 80px;
    padding: 0;
  }
  table {
    margin: 5px auto;
  }
  .vert {
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
  .hori {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  button {
    background-color: grey;  
    border-style: solid;
    border-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    padding: 10px;
  }

  .container {
    height: 200px;
    position: relative;
    border: 3px solid green;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.tdmatch {
  font-size: 20px;
}